body {
  font-family: Open Sans, Arial, sans serif;
}

.align-right {
	text-align: right;
}

.mild-bold {
  font-weight: 600;
}

.half-width {
  width: 50%;
}

#timestamp {
  font-size: 12px;
}

/* JQuery Tablesorter */

table.tablesorter thead tr .header {
	background-image: url(/img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/img/desc.gif);
}