<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
  
  <display-name>quickrant</display-name>
  
  <!-- Bootstrap class runs during servlet container creation -->
  <listener>
    <listener-class>com.quickrant.admin.Bootstrap</listener-class>
  </listener>
  
  <!-- Send /cache requests to CacheController -->
  <servlet>
    <servlet-name>StatsController</servlet-name>
    <servlet-class>com.quickrant.admin.controllers.StatsController</servlet-class>
    <init-param>
      <param-name>visitor-service</param-name>
      <param-value>com.quickrant.api.services.VisitorService</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatsController</servlet-name>
    <url-pattern>/stats/*</url-pattern>
  </servlet-mapping>

  <!-- Error pages -->
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>    
    <error-code>403</error-code>
    <location>/403.jsp</location>
  </error-page>
  <error-page>    
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>

  <!-- Welcome list -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>